#slider{
    width: 100%;
    display: inline-block;
}
.controls button{
    text-align: center
}
h1{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: dimgrey
}